<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script src="https://kit.fontawesome.com/e550729287.js" crossorigin="anonymous"></script>
    <title>Bullet - Welcome!</title>
</head>
<body>
    <div class="nav">
        <div class="logo">
            <p>bullet</p>
        </div>
        <div class="register_button">
            <button>Sign up</button>
        </div>
    </div>
    <div class="container">
        <div class="motto">
            <p>This app looks like every app should look like.<br>On your terms.</p>
         </div>
        <div class="login_box">
            <form>
                <p>Welcome!</p>
                <input name="email" placeholder="Enter your email">
                <input name="password" placeholder="Enter your password">
                <button>Log In</button>
            </form>
        </div>
    </div>

</body>
</html>