<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register Page</title>
    <script src="https://kit.fontawesome.com/e550729287.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="register-container">
        
        <div class="register-box-container">
            <div class="welcome-field">
                <i class="fas fa-angle-left"></i>
                Welcome!
            </div>
            <div class="register-name-surname">
                <div class="register-name">
                    Name
                    <div class="register-box-name">
                        <i class="fas fa-user-alt"></i>
                        <input class="input-name" placeholder="enter your name">
                    </div>
                </div>
                <div class="register-name">
                    Surname
                    <div class="register-box-name">
                        <i class="fas fa-user-alt"></i>
                        <input class="input-name" placeholder="enter your surname">
                    </div>
                </div>
            </div>
            <div class="register-field">
                Email
                <div class="register-box">
                    <i class="fas fa-at"></i>
                    <input class="input" placeholder="enter your email">
                </div>
            </div>
            <div class="register-field">
                Password
                <div class="register-box">
                    <i class="fas fa-lock"></i>
                    <input class="input" placeholder="enter your password">
                </div>
            </div>
            <div class="register-field">
                Password
                <div class="register-box">
                    <i class="fas fa-lock"></i>
                    <input class="input" placeholder="confirm your password">
                </div>
            </div>
            <button class="sign-up">Sign up</button>

        </div>
    </div>
</body>
</html>