.nav {
    width: 100vw;
    height: 10vh;

    display: flex;
    box-sizing: border-box;
    padding: 0% 5%;
}

.logo {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}


.register_button {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
}

.container {
    width: 100vw;
    height: 90vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    background:url('../img/bg.svg') no-repeat;
    background-size: auto 100vh;
    background-position: left bottom;
}

form.login {
    width: 45%;
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: inset -5px -5px 1px #00000029;
    border-radius: 20px;
    opacity: 1;
}

.sign_up{
    background: #02B3FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #00000029;
    border-radius: 10px;
    opacity: 1;
    width: 20%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up p{
    text-align: left;
    font: normal normal 600 17px/19px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-shadow: 0px 3px 20px #00000029;
    opacity: 1;
    margin: 0;
    user-select: none;
}

body {
    margin: 0;
}